.user-prof{
    width: 45%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.user-name2 {

color:white;
text-transform: capitalize;

}

.user-name {
    text-transform: capitalize;
}
.logo {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

