<div class="course-details" *ngIf="course">
  <button class="close-button" (click)="closeCourseDetails()">x</button>
  <h2>{{ course.courseTitle }}</h2>
  <img [src]="course.coursePhotoFile" alt="Course Image">
  <p><label style="color: rgb(0, 72, 206);">Duration : </label>{{ course.courseDuration }}</p>
  <p><label style="color: rgb(0, 72, 206);">Level : </label>{{ course.courseLevel }}</p>
  <p><label style="color: rgb(0, 72, 206);">Premium : </label>{{ course.courseIsPremium ? 'Yes' : 'No' }}</p>
  <div class="desc">
    <p>{{ course.courseDescription }}</p>
  </div>
  <button class="enroll-button">Enroll Now</button>
</div>
