  <nav class="navbar">
    <a href="#" class="logo" (click)="goToFView()">Quarini</a>
  </nav>
  <!--hero-->  
  <div class="container">
    <img src="assets/bteach.jpg" alt="Teach with us">
    <div class="text-container">
      <h1>Come teach with us</h1>
      <p>Become an instructor and change lives — including your own</p>
      <a (click)="goToForm()"><button>Get started</button></a>
    </div>
  </div>
  
  <!--why?--> 
  <div class="whycont">
    <h1 class="next-area-title">Why to start?</h1>
    <div class="next-area-container">
      <div class="left-section">
        <i class='bx bxs-magic-wand'></i>
        <h2 class="section-title">Empower your teaching style</h2>
        <p class="section-text">Launch courses that reflect your approach, maintaining full autonomy over your content.</p>
      </div>
  
      <div class="center-section">
        <i class='bx bxs-hot'></i>
        <h2 class="section-title">Ignite curiosity in students</h2>
        <p class="section-text">Transmit your knowledge and inspire learners to delve into their interests, and acquire new abilities.</p>
      </div>
    
      <div class="right-section">
        <i class='bx bxs-trophy' ></i>
        <h2 class="section-title">Attain recognition</h2>
        <p class="section-text">Expand your professional network, enrich your expertise, and earn revenue for each paid enrollment.</p>
      </div>
    </div>
  </div>
  
  <!--how?--> 
  <div class="tutorial-area-container">
    <h2 class="tutorial-area-title">How to Start?</h2>
    <div class="tutorial-steps">
      <div class="tutorial-step">
        <button id="step1-button" class="step-btn" (click)="toggleDescription('step1')">◖Create an account on Quarini◗</button>
        <p class="step-description" id="step1-description"><a (click)="goToSignup()">Register</a> for a Quarini account to get started.</p>
      </div>
      <div class="tutorial-step">
        <button id="step2-button" class="step-btn" (click)="toggleDescription('step2')">◖Fill the instructor application form◗</button>
        <p class="step-description" id="step2-description">Complete the instructor application <a (click)="goToForm()">form</a> with your details.</p>
      </div>
      <div class="tutorial-step">
        <button id="step3-button" class="step-btn" (click)="toggleDescription('step3')">◖Wait for staff confirmation◗</button>
        <p class="step-description" id="step3-description">Once you've submitted your application our staff will review and confirm it.</p>
      </div>
      <div class="tutorial-step">
        <button id="step7-button" class="step-btn" (click)="toggleDescription('step7')">◖Launch your course◗</button>
        <p class="step-description" id="step7-description">Publish your course on Quarini's platform and make it available to learners.</p>
      </div>
      <div class="tutorial-step">
        <button id="step8-button" class="step-btn" (click)="toggleDescription('step8')">◖See your course's statistics and edit it◗</button>
        <p class="step-description" id="step8-description">Track the performance of your course and make necessary adjustments to improve its effectiveness.</p>
      </div>
      <div class="tutorial-step">
        <button id="step9-button" class="step-btn" (click)="toggleDescription('step9')">◖Keep in touch with your students via live chat◗</button>
        <p class="step-description" id="step9-description">Engage with your students in real-time, providing support and answering their questions through live chat.</p>
      </div>
    </div>
  </div>
  
  <!--rev--> 
  <div class="reviews-container">
    <div class="review">
      <img [src]="reviews[currentReviewIndex].instructorPhoto" alt="Instructor Photo" class="instructor-photo">
      <div class="review-content">
        <p class="review-text">{{ reviews[currentReviewIndex].reviewText }} <br> - <span class="instructor-name">{{ reviews[currentReviewIndex].instructorName }}</span></p>
        <button class="next-review-btn" (click)="nextReview()">></button>
      </div>
    </div>
  </div>
   
  
  
  <app-footer></app-footer>