#container {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  justify-content: center;
  flex-direction: row-reverse;
}

#container fa-icon {
  color: gray;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

#container fa-icon.rated,
#container fa-icon:hover,
#container fa-icon:hover ~ fa-icon {
  color: #02ace0;
}

#container.readOnly fa-icon {
  cursor: default;
}

#container.readOnly fa-icon:hover:not(.rated),
#container.readOnly fa-icon:hover ~ fa-icon:not(.rated) {
  color: gray;
}
