<app-navhome></app-navhome>

<div class="course-interface">
  <!-- Sidebar Menu -->
  <div class="sidebar" [ngClass]="{'hiding': isSidebarHidden}">
    <ul>
      <li *ngFor="let lesson of lessons">
        <h3>{{ lesson.lessonTitle }}</h3>
        <ul class="test">
          <li *ngFor="let chapter of lesson.lessonChapters">
            <a (click)="displayContent(chapter)">{{ chapter.chapterTitle }}</a>
          </li>
          <li *ngFor="let quiz of lesson.lessonQuizzes">
            <a (click)="displayContent(quiz)">Quiz</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <!-- Content Display Section -->
  <div class="content-display" [ngClass]="{'full-width': isSidebarHidden}">
    <button class="toggle-sidebar-btn" (click)="toggleSidebar()">
      <i class="bx bx-menu"></i>
    </button>
    <h2>{{ selectedContent?.chapterTitle || selectedContent?.quiz?.quizQuestion }}</h2>
    <div *ngIf="selectedContent?.chapterDescription">
      <p>{{ selectedContent.chapterDescription }}</p>
      <iframe width="970" height="530" [src]="selectedContent.chapterVideo | safeUrl" frameborder="0" allowfullscreen></iframe>
    </div>
    <div *ngIf="selectedContent?.quiz" class="quizdisplay">
      <p>{{ selectedContent.quiz.quizDescription }}</p>
      <input type="text" placeholder="Your answer..." [(ngModel)]="quizAnswer">
      <button (click)="submitQuiz()">Submit Quiz</button>
    </div>
</div>
