<app-navhome></app-navhome>

<div class="course-interface">
  <!-- Sidebar Menu -->
  <div class="sidebar" [ngClass]="{'hiding': isSidebarHidden}">
    <ul>
      <li *ngFor="let lesson of lessons">
        <h3>{{ lesson.lessonTitle }}</h3>
        <ul class="test">
          <li *ngFor="let chapter of lesson.lessonChapters">
            <a (click)="displayContent(chapter)">{{ chapter.chapterTitle }}</a>
          </li>
          <li *ngFor="let quiz of lesson.lessonQuizzes">
            <a (click)="displayContent(quiz)">Quiz</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <!-- Content Display Section -->
  <div class="content-display" [ngClass]="{'full-width': isSidebarHidden}">
    <button class="toggle-sidebar-btn" (click)="toggleSidebar()">
      <i class="bx bx-menu"></i>
    </button>
    <h2>{{ selectedContent?.chapterTitle || selectedContent?.quiz?.quizQuestion }}</h2>
    <div *ngIf="selectedContent?.chapterDescription">
      <p>{{ selectedContent.chapterDescription }}</p>
      <div class="iframe-container">
        <iframe [src]="selectedContent.chapterVideo | safeUrl" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div *ngIf="selectedContent?.quiz" class="quizdisplay">
      <p>Please check the correct answer</p>
      <div *ngFor="let answer of selectedContent.quiz.answers" class="answer">
        <input type="radio" name="quizAnswer" [value]="answer.text" (change)="answers[selectedContent?.quiz?.quizQuestion] = answer.text"> <label>{{ answer.text }}</label>
      </div>
      <button (click)="submitQuiz()" style="margin-top: 20px;">Submit Quiz</button>
    </div>
  </div>  

  <div *ngIf="showRateBox" class="rate-box">
    <div class="center-box">
      <h2>Rate our course</h2>
      <p>In order to get your certificate, you need to rate this course.</p>
      <app-starr-rating (ratingChange)="onRateChange($event)"></app-starr-rating>
      <button style="margin-top: 20px; padding: 10px;" (click)="onSubmit()">Submit Rate</button>
    </div>
  </div>
</div>

<app-footer></app-footer>