.course-interface {
  display: grid;
  grid-template-columns: 25% auto; 
  grid-template-rows: minmax(0, 1fr); /*take up all available space*/
  height: 100vh;
  transition: transform 0.3s ease;
}

.sidebar {
  grid-column: 1; /* Sidebar should span the first column */
  grid-row: 1; /* Sidebar should span the first row */
  padding: 20px;
  /*border-right: 2px solid #0288d1;*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.69);
  transition: transform 0.3s ease;
}

.sidebar.hiding {
  transform: translateX(-100%);
}

.content-display {
  grid-column: 2; /* Content should span the second column */
  grid-row: 1; /* Content should span the first row */
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  
}

.content-display.full-width {
  grid-column: 1 / span 2; /* Content should take up both columns when full-width */
  align-items: center;
}

.toggle-sidebar-btn {
  position: absolute;
  right: 20px;
  padding: 10px;
  font-size: 1rem;
  background-color: #03a1fc;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow:  0px 2px 8px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s;
}

.toggle-sidebar-btn:hover {
  background-color: #0288d1;
}

/* Sidebar Styles */
.sidebar h3 {
  font-size: 1.5rem;
  color: #02ace0;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  margin-bottom: 10px;
  padding: 0;
}

.sidebar ul li {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.sidebar ul li .test li {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  transition: transform 0.3s;
}

.sidebar ul li .test li:hover {
  transform: scale(1.01);
  font-weight: 600;
}

/* Content Display Styles */
.content-display h2 {
  font-size: 2rem;
  color: #02ace0;
  margin-bottom: 20px;
  margin-top: 5px;
}

.content-display p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #555;
}

.content-display ul {
  margin-top: 20px;
  padding-left: 20px;
}

.content-display ul li {
  margin-bottom: 15px;
}

.content-display button {
  padding: 12px 24px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #03a1fc;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.content-display button:hover {
  background-color: #0288d1;
}


.content-display .quizdisplay{
  display: grid;
  width: 70%
  
}

.content-display .quizdisplay p {
  margin-top: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}

.content-display .quizdisplay input{
  margin-bottom: 30px;
  width: calc(100% - 22px); 
  padding: 11px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .7);
  border-radius: 5px;
  transition: transform 0.2s ease-in-out; 
}

.content-display .quizdisplay input:focus {
  transform: scale(1.02); 
}

@media (min-width: 768px) {
  .course-interface {
    grid-template-columns: 25% auto; /* Use two columns for larger screens */
  }
}