<div class="container">
  <div *ngIf="!showCourseDetails" class="navigation left" (click)="navigate('left')"> < </div>
  
  <div *ngIf="!showCourseDetails" class="card-container">
    <div class="card" *ngFor="let course of displayedCourses" (click)="selectCourse(course)" (mouseenter)="applyHoverAnimation($event)" (mouseleave)="removeHoverAnimation($event)">
      <div class="card-content">
        <img [src]="course.coursePhotoFile" alt="Course Image" class="course-image">
        <h3>{{ course.courseTitle }}</h3>
        <p>Duration: {{ course.courseDuration }}</p>
      </div>
    </div>
  </div>
  
  <div *ngIf="!showCourseDetails" class="navigation right" (click)="navigate('right')"> > </div>
</div>
